.content-form {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}
form {
    background: linear-gradient( #3B3486, #7743DB );
    /* background-color: #3B3486; */
    border-radius: 10px;
    width: 400px;
}
input {
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #3B3486;
    color: #FCFDF2;
    outline: none;
    -webkit-appearance: none;
}
.btn-submit {
    background-color: #3B3486;
    color: #FCFDF2;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
}
.name-input {
    font-weight: bold;
    color: #FCFDF2;
    text-transform: uppercase;
}
